
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3rem 10% auto 10%;
    flex-wrap: wrap;
    padding: 0;
}
.card{
    box-shadow: 0 3px 10px #eff19d;
    border-radius: 2rem;
    color: #eff19d;
    padding: 1rem;
    margin: 1rem;
}
.card>p{
    margin: 0 10%;
}
.card>img{
    border-radius: 1rem;
    object-fit: cover;
}
.heading{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    padding: 0;
}
.heading h1{
    margin: 0;
}